body{
    background-color: black;
    color:lightgray;
}
#netflix{
    float:left;
}
#watch{
    width:100%;
    font-size:50px;
    position:absolute;
    top:25%;
    text-align:center;
    margin:auto;
}
#list{
    float:left;
    width: 100%;
    list-style-type: none;
    margin-top:5%;
    padding-left:23%;
}
.lis{
    float:left;
    width:10%;
    height:10%;
    padding:2%;
}
.lis:hover{
    width:11%;
    height:11%;
}
.logo{
    width:100%;
    height:100%;
    border:solid black;
   border-radius: 20%;
}
.username{
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#manage{
    border:solid grey;
    border-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 135%;
    bottom:15%;
    width:15%;
    position: absolute;
    left:42%;
}
