#logo{
    width: 200px;
    height: 50px;
    float:left;
    border-right: 2px solid grey;
    padding-right: 2%;
    height: 100%;
    margin-right: 2%;
    margin-left: 1%;
}
#prenota{
    font-size: 30px;
    font-family: Verdana;
    color:darkturquoise;
}
.menu{
    float:left;
    background-color: darkturquoise;
    width:100%;
    margin-top: 1%;
}
.menu1{
    font-size: 15px;
    font-family: Verdana;
    color:white;
    float:left;
    height: 20px;
    text-align: center;
    margin:2%;
}
#info{
    float:right;
}
#b{
    width:100%;
    position:relative;
    
}
#pren{
    position: absolute;
    top: 25%;
    font-size: 55px;
    margin-left: 10%;
    width: 100%;
    color:white;
}
#text{
    position: absolute;
    top: 35%;
    font-size: 30px;
    margin-left: 10%;
    width: 100%;
    color:white;
}
.hopaura{
    position: absolute;
    width: 100%;
    top:50%;
    margin-left:10%;
}
.prenotazioni{
    display:block;
    width: 15%;
    min-height: 190px;
    border: 2px solid black;
    padding:2%;
    margin:3%;
    border-radius:10%;
    background-color: white;
    float:left;
}
.llogo{
    width:18%;
    height:18%;
    float:left;

}
.scritta{
    float:left;
    font-weight: bolder;
    font-size:18px;
    padding:1%;
    
}
.scpiccola{
    clear:both;
    font-size: 20px;
    padding-top:5%;
}
.vai{
    position:absolute;
    font-weight: bolder;
    color:darkturquoise;
    font-size:15px;
    top:80%;
}